<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		{% if title %}
		<title>{{title}} - Flaskfolio</title>
		{% else %}
		<title>Flask</title>
		{% endif %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/normalize.css">
		<!-- <link rel="stylesheet" href="css/master.css"> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="js/base.js"></script>
	</head>
	<body>
		<nav>
			<a href="/home">
				<img src="" alt="Logo for flaskfolio">
			</a>
			<a href="/portfolios">Portfolios!</a>
			<a href="/resumes">Resumes!</a>
			<a href="/donate">Pay for my college!</a>
			<hr>
		</nav>
		<main>
			{% block content %}
			{% endblock %}
		</main>
	</body>
</html>
