<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		{% if title %}
		<title>{{title}} - Flaskfolio</title>
		{% else %}
		<title>Flask</title>
		{% endif %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <link rel="stylesheet" href="templates/css/normalize.css"> -->
		<!-- <link rel="stylesheet" href="templates/css/master.css"> -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="templates/js/base.js"></script> -->
	</head>
	<body>
		<nav>
			{% if img_url %}
			<a href="{{url_for('home')}}">
				<img src={{img_url}} alt="Logo for flaskfolio">
			</a>
			{% else %}
			<h2>Flaskfolio:</h2>
			<a href="{{url_for('home')}}">Home!</a>
			{% endif %}
			<a href="{{url_for('portfolios')}}">Portfolios!</a>
			<a href="{{url_for('resumes')}}">Resumes!</a>
			<a href="{{url_for('donate')}}">Pay for my college!</a>
			<div class="login" style="float: right;">
				{% if current_user.is_anonymous %}
				<a href="{{url_for('login')}}">Log-in</a>
				{% else %}
				<a href="{{url_for('logout')}}">Log-out</a>
				{% endif %}
				<a href="{{url_for('register')}}">Regester</a>
			</div>
		</nav>
		<hr>
		{% with messeges = get_flashed_messages() %}
		{% if messeges %}
		<ul>
			{% for messege in messeges %}
			<li>{{ messege }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		<main>
			{% block content %}
			{% endblock %}
		</main>
	</body>
</html>
